.authForm {
	margin: 30px;
	border: 2px solid black;
	border-radius: 0.4em;
	background-color: rgb(250, 184, 184);
	width: 40%;
	display: inline-block;
}

.authForm input {
	width: 80%;
	margin: 1em;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

.authForm textarea {
	height: 5em;
	width: 80%;
	margin: 1em;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

.fileInput {
	width: 80%;
	margin: 1em;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	background-color: white;
	margin: 15px auto;
}
.authForm button {
	display: block;
	background-color: #139649;
	margin: 1em auto;
	padding: 12px;
	border: 1px solid black;
	border-radius: 4px;
	cursor: pointer;
}

.country span {
	display: block;
}

.country select {
	width: 70%;
}

.country {
	width: 80%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: white;
	margin: 15px auto;
}

.domains span {
	display: block;
}

.domains select {
	width: 70%;
}

.domains {
	width: 80%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: white;
	margin: 15px auto;
}