.navbar {
	overflow: hidden;
	background-color: #20232a;
}

.navbar-right {
	float: right;
}

.navbar a{
	margin: 1em;
	float: left;
	color: white;
}

.navbar a:hover {
	color: rgb(168, 207, 212);
	cursor: pointer;
}

.logoutIcon {
	height: 20px;
	width: 20px;
}

.navbar button {
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	margin: 1em;
	cursor: pointer;
}